################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/lab_02_1/.vs/
/lab_02_1/.idea/
/lab_02_1/cmake-build-debug
/lab_02_1/out
